In [6]:
import os.path
from glob import glob
import math
import pandas as pd

In [13]:
#root = "/Volumes/SD/radCats/MOD09GA"

root = "/Volumes/SD/radCats/MYD09GA"

In [14]:
csvFilesQA = glob(os.path.join(root, "**", "*.csv"), recursive=True)
print("Files: ", len(csvFilesQA))

Files:  2231

In [15]:
#row 24 is the mean
#row 25 is the min
#row 26 is the max
#row 27 is the std

finalTable = []

for csvFileQA in csvFilesQA:
    table = pd.read_csv(csvFileQA, header=None)
    try:
        finalTable.append(table.iloc[24,:])
    except:
        print("File: {} failed: {} lines".format(csvFileQA,table.shape[0]))

In [16]:
#Transpose our list of daily means, mins, or maxes so that it is ordered by day
output = pd.concat(finalTable, axis=1).T

In [17]:
#Check to make sure the table looks okay
output.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
24,MYD09GA.A2012001.h08v05.006.2015230044132,NaN,NaN,1850.78,5015.33,-9586.33,6567.67,-15512,4670.44,5125.33,3204.44,4274.67,4899.56,-28672,4379.67,0.0464571,0.714075,0.0431956,NaN
24,MYD09GA.A2012002.h08v05.006.2015230012117,NaN,NaN,1110.67,3712.78,7629.44,6223.11,-16882.7,3292.11,3793.22,1674.33,2809.89,3766.44,-28672,3571.33,0.070685,0.027155,0.0577026,NaN
24,MYD09GA.A2012003.h08v05.006.2015230053908,NaN,NaN,5661.33,3590.56,-9767.67,6449.22,-15820.6,4143.56,4523.89,2204.67,3675.44,4307.22,-13820.9,4065.89,0.0438664,0.0170042,0.0388418,NaN
24,MYD09GA.A2012004.h08v05.006.2015230051353,NaN,NaN,7481.78,5060.89,7420.22,6161.44,-17218.7,3183.11,3683.78,1661.33,2727.67,3687.67,4090.33,3574.78,0.0729097,0.0276612,0.0586827,NaN
24,MYD09GA.A2012005.h08v05.006.2015230070342,NaN,NaN,6666,1627,-9973.89,6340.33,-16136.1,3956.22,4311,2030.67,3490.11,4050.11,4397.44,3814.56,0.0429009,0.0166408,0.0372416,NaN

In [18]:
#output.to_csv("/Volumes/SD/MOD09GAtestRadMean.csv", index=False, header=False)
output.to_csv("/Volumes/SD/MYD09GAtestRadMean.csv", index=False, header=False)

In [ ]:
output.to_csv("/Volumes/SD/MOD09GAtestRadMin.csv", index=False, header=False)
#output.to_csv("/Volumes/SD/MYD09GAtestRadMin.csv", index=False, header=False)

In [ ]:
output.to_csv("/Volumes/SD/MOD09GAtestRadMax.csv", index=False, header=False)
#output.to_csv("/Volumes/SD/MYD09GAtestRadMax.csv", index=False, header=False)

In [ ]:
output.to_csv("/Volumes/SD/MOD09GAtestRadStd.csv", index=False, header=False)
#output.to_csv("/Volumes/SD/MYD09GAtestRadStd.csv", index=False, header=False)